.footer{
    height: 10vh;
    background-color: #6155B4;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer ul{
    list-style: none;
}
.col{
    padding: 10px;
    margin-left: 10px;
}
.dir{
    flex-direction: row-reverse;
    padding-right: 80px;
}