.footer{
    text-align: right;
    padding: 30px 40px;
    box-sizing: border-box;
    background-color:  antiquewhite;
    
    
}
.footer ul{
    list-style: none;
}
.col{
    padding: 10px;
    margin-left: 10px;
}
.dir{
    flex-direction: row-reverse;
    padding-right: 80px;
}