.contact{
    width: 100%;
    min-height: 80vh;
    &-heading{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
        .bottom-line{
            background: #6155B4;
            height: 2px ;
            width: 20% ;
            margin-bottom: 20px;
        }
    }
    &-flex{
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;

        &>*{
            margin: 0 30px;
        }
    }
}