@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
.home{
  width: 100%;
  min-height: 80vh;
  
  &-intro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
  } 
  &-intro-heading{
    p  {
      font-weight: bold;
      font-size : 30px;
    }  
    button{
      background-color: #6155B4 ;
      color: white;
      padding: 10px;
      border-radius: 5px;
      border: none;
      outline: 0;
      transition: all 0.2s ease;
      cursor: pointer;
      font-weight: bold;
        &:hover{
          color: #f3b542;
        }
      }
  }
  &-intro-image img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}
